<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="myApp" ng-controller="todoCtrl">

<div id="banner">
    <h2 id="title">My Family History</h2>
</div>


<div id="inputDiv">

<form  id="fatherForm" ng-submit="todoAdd()">
    <input type="text" ng-model="motherInput" size="20" placeholder="Father">
    <input id="submitButton" type="submit" value="Add New">
</form>



<form id="motherForm">
    <input type="text" ng-model="fatherInput" size="20" placeholder="Mother">
</form >


<form id="personForm">
    <input type="text" ng-model="personInput" size="20" placeholder="Person">
</form>


</div>




<div id="wrapper">
<div id="listDiv" ng-repeat="x in todoList">
    <input id="list" type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
    
</div>


    <button id="remove" ng-click="remove()">Remove marked</button>
</div>



<script>
var app = angular.module('myApp', []);
app.controller('todoCtrl', function($scope) {
    $scope.todoList = [];

    $scope.todoAdd = function() {
        $scope.todoList.push({todoText: $scope.personInput + ', ' + $scope.fatherInput + ', ' + $scope.motherInput, done:false});
        $scope.todoInput = "";
    };

    $scope.remove = function() {
        var oldList = $scope.todoList;
        $scope.todoList = [];
        angular.forEach(oldList, function(x) {
            if (!x.done) $scope.todoList.push(x);
        });
    };
});
</script>

</body>
<link rel="stylesheet" type="text/css" href="familyStyle.css" />
</html>

